@import '../../styles/vars';

.pagination {
  display: flex;
  justify-content: center;

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;

    &:first-child {
      margin-right: 16px;
    }

    &:last-child {
      margin-left: 8px;
      margin-right: 0;
    }
  }

  &__link {
    height: 32px;
    width: 32px;
    border: 1px solid $elements;
    border-radius: 48px;
    font-size: 14px;
    text-align: center;
    color: $primary;

    &:hover {
      border-color: $primary;
    }

    &_active {
      background-color: $primary;
      border-color: transparent;
      color: $white;
    }
  }
}