@import '../../styles/vars';
@import '../../styles/mixins';

.pagination {
  margin: 24px auto 64px;
  width: 270px;
  overflow-x: scroll;
  padding: 15px 5px;
  border-radius: 20px;

  &__list {
    display: flex;

    @include onTablet {
      justify-content: center;
    }
  }
  
  @include onTablet {
    width: 100%;
    margin-top: 40px;
    overflow-x: auto;
    background-color: transparent;
    box-shadow: none;
  }

  @include onDesktop {
    margin-bottom: 80px;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;

    &:first-child {
      margin-right: 16px;
    }

    &:last-child {
      margin-left: 8px;
      margin-right: 0;
    }
  }

  &__link {
    height: 32px;
    width: 32px;
    border: 1px solid $elements-color;
    border-radius: 48px;
    font-size: 14px;
    text-align: center;
    color: $primary-color;

    &:hover {
      border-color: $primary-color;
    }

    &_active {
      background-color: $primary-color;
      border-color: transparent;
      color: $white-color;
    }

    &:disabled {
      border: 1px solid $elements-color;
      color: $elements-color;
      cursor: default;
    }
  }
}