@import '../../styles/vars';

.btn {
  width: 160px;
  height: 40px;
  padding: 10px 40px;
  color: $white;
  background-color: $accent;

  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;

  border: 1px solid inherit;
  border-radius: $radius;

  transition: box-shadow 0.2s ease;

  &:hover {
    box-shadow: 0px 3px 13px rgba(23, 32, 49, 0.4);
  }

  &_selected {
    color: $accent;
    background-color: $white;
    border: 1px solid $elements;
  }
}