@import '../../styles/vars';

.productCard {
  width: 100%;
  border-radius: $radius;
  border: 1px solid $elements;
  padding: 32px;

  &__img {
    display: block;
    margin: 0 auto 8px;
  }

  &__title {
    font-size: 14px;
    line-height: 21px;
    font-weight: 600;

    padding: 16px 0 0;
    margin-bottom: 8px;
  }

  &__link {
    color: $primary;

    &:hover {
      color: $secondary-accent;
    }
  }

  &__price {
    font-size: 22px;
    line-height: 140%;
    font-weight: 700;

    margin-bottom: 8px;

    &_oldPrice {
      position: relative;
      margin-left: 8px;
      color: $secondary;
      line-height: 28px;
      font-weight: 500;
      
      &::after {
        content: '';
        position: absolute;
        right: -3px;
        top: 50%;
        transform: translateY(-50%);
        display: block;
        width: 110%;
        height: 1px;
        background-color: $secondary;
      }
    }
  }

  &__specs {
    padding-top: 16px;
    margin: 0 0 16px;
    list-style: none;

    border-top: 1px solid $elements;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  &__name, &__value {
    font-size: 12px;
    line-height: 15px;
  }

  &__name {
    color: $secondary;
    font-weight: 600;
  }

  &__action {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}