%upper-text {
  font-size: 12px;
  line-height: 11px;
  letter-spacing: 0.04em;
  font-weight: 700;
  text-transform: uppercase;
}

%button-text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 600;
}
