@font-face {
  font-family: Mont;
  src: url(../assets/fonts/Mont-Regular.woff2);
}

@font-face {
  font-family: Mont;
  font-weight: 700;
  src: url(../assets/fonts/Mont-Bold.woff2);
}

@font-face {
  font-family: Mont;
  font-weight: 600;
  src: url(../assets/fonts/Mont-SemiBold.woff2);
}

@font-face {
  font-family: SFPro;
  src: url(../assets/fonts/SFProDisplay-Regular.woff2);
}

@font-face {
  font-family: SFPro;
  font-weight: 600;
  src: url(../assets/fonts/SFProDisplay-Semibold.woff2);
}