@mixin onDesktop {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin onTablet {
  @media (min-width: 640px) {
    @content;
  }
}

@mixin text($fz, $lh, $fw) {
  font-size: $fz;
  line-height: $lh;
  font-weight: $fw;
}
