$accent-color: #f86800;
$secondary-accent-color: #476df4;
$primary-color: #0f0f11;
$secondary-color: #89939a;
$icons-color: #b4bdc3;
$elements-color: #e2e6e9;
$hoverBg-color: #fafbfc;
$white-color: #fff;
$green-color: #27ae60;
$red-color: #eb5757;

$radius: 8px;