$accent-color: #f86800;
$secondary-accent-color: #476df4;
$primary-color: #0f0f11;
$secondary-color: #89939a;
$icons-color: #b4bdc3;
$elements-color: #e2e6e9;
$hoverBg-color: #fafbfc;
$white-color: #fff;
$green-color: #27ae60;
$red-color: #eb5757;
$black-color: #000000;

$radius: 8px;

$mob-side-padding: 16px;
$tab-side-padding: 24px;
$desk-side-padding: 32px;

$desk-header-swiper-height: 400px;
$tab-header-swiper-height: 200px;
$lap-header-swiper-height: 260px;
$mob-header-swiper-height: 320px;
  
$slider-button-width: 32px;
$slider-mob-height: 440px;
$slider-tab-height: 520px;
