@import '../../styles/vars';
@import '../../styles/mixins';

.gallery {
  width: 300px;
  height: 300px;
  background-color: $icons-color;
  
  @include onTablet {
    width: 300px;
    height: 380px;
  }

  @include onDesktop {
    width: 560px;
    height: 560px;
  }
}
