@import '../styles/vars';

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  padding-top: 24px;
  flex: 1 1 auto;
  background-color: $hoverBg-color;
}