@import '../../styles/vars';
@import '../../styles/extends';
@import '../../styles/mixins';

.product {
  &__title {
    @extend %product-title;
    margin-bottom: 32px;

    @include onTablet {
      margin-bottom: 40px;
    }
  }

  &__promo {
    margin-bottom: 56px;
    display: flex;
    flex-direction: column;

    @include onTablet {
      margin-bottom: 64px;
      flex-direction: row;
      justify-content: space-between;
    }

    @include onDesktop {
      position: relative;
      margin-bottom: 80px;
      justify-content: flex-start;
    }
  }

  &__gallery {
    margin-bottom: 40px;
    margin-right: 0px;

    @include onTablet {
      margin-bottom: 0;
      margin-right: 17px;
    }

    @include onDesktop {
      margin-right: 64px;
    }
  }

  &__info {
    flex-grow: 1;
    
    @include onLaptop {
      max-width: 320px;
    }
  }

  &__controls {
    margin-bottom: 32px;
  }

  &__price {
    margin-bottom: 16px;
    font-weight: 800;
    font-size: 32px;
    line-height: 41px;
    letter-spacing: -0.01em;
    display: flex;
    align-items: center;

    &_old {
      margin-left: 8px;
      font-weight: 500;
      font-size: 22px;
      line-height: 28px;
      color: $secondary-color;
      text-decoration-line: line-through;
    }
  }

  &__action {
    margin-bottom: 32px;
  }

  &__params {
    &_item {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &:not(:last-child) {
        margin-bottom: 8px;
      }
    } 

    &_name {
      @extend %small-text;
      color: $secondary-color;
    }

    &_value {
      @extend %small-text;
      font-weight: 700;
    }
  }

  &__about {
    margin-bottom: 56px;

    @include onTablet {
      margin-bottom: 64px;
    }

    @include onDesktop {
      display: flex;
      margin-bottom: 0;
    }

    &_title {
      @extend %product-title;
      margin-bottom: 32px;
      padding-bottom: 16px;
      border-bottom: 1px solid $elements-color;
    }

    @include onTablet {
      margin-bottom: 64px;
    }

    &_item {
      &:not(:last-child) {
        margin-bottom: 32px;
      }

      &_title {
        @extend %about-title;
        margin-bottom: 16px; 
      }

      &_text {
        color: $secondary-color;
      }
    }
  }

  &__description {
    margin-bottom: 56px;

    @include onTablet {
      margin-bottom: 64px;
    }

    @include onDesktop {
      max-width: 560px;
      margin-right: 64px;
    }
  }

  &__specs {
    @include onDesktop {
      flex-grow: 1;
    }

    &_name {
      font-weight: 500;
      color: $secondary-color;
    }

    &_item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 8px;
    }

    &_value {
      font-weight: 600;
      text-align: right;
    }
  }
}