@import '../../styles/vars';
@import '../../styles/mixins';
@import '../../styles/mixins';
@import '../../styles/extends';

.footer {
  width: 100%;
  display: flex;
  padding: 33px 16px;
  flex-direction: column;
  background-color: $white-color;
  box-shadow: 0px -1px 0px $elements-color;
  
  @include onTablet {
    display: flex;
    padding: 33px 24px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    margin-bottom: 32px;

    @include onTablet {
      margin-bottom: 0;
    }
  }
  
  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 32px;

    @include onTablet {
      flex-direction: row;
      margin-bottom: 0;
    }

    @include onDesktop {
      gap: 106px;
    }
  }

  &__link {
    @extend %upper-text;

    color: $secondary-color;
    transition: color 0.2s ease;

    &:hover {
      color: $primary-color;
    }
  }

  &__scroll {
    @extend %upper-text;

    display: block;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: $secondary-color;
    gap: 16px;

    transition: color 0.2s ease;

    &:hover {
      color: $primary-color;
    }
  }
}
