@import './styles/reset';
@import './styles/vars';
@import './styles/fonts';

body {
  font-family: 'Mont', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  color: $primary; 

  height: 100%;
}
