@import "../../styles/vars";
@import "../../styles/mixins";
@import "../../styles/extends";

.nav {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 1px 0px $elements-color;
  height: 48px;

  @include onDesktop {
    height: 64px;
  }

  &__logo {
    margin-left: 16px;

    @include onTablet {
      margin-left: 24px;
      margin-right: 48px;
    }
  }

  &__wrapper {
    position: absolute;
    z-index: 10;
    background-color: $white-color;

    top: 50px;
    width: 100%;
    height: calc(100vh - 50px);
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-direction: column;

    transform: translateX(-100%);

    transition: transform 0.3s ease-in;

    &_active {
      transform: translateX(0);
    }

    @include onTablet {
      position: static;
      height: auto;
      width: auto;

      flex-direction: row;
      justify-content: space-between;
      flex-grow: 1;
      box-shadow: none;

      transform: translateY(0);
    }
  }

  &__list {
    padding-top: 24px;

    @include onTablet {
      padding-top: 0;
      display: flex;
      gap: 32px;
    }

    @include onDesktop {
      gap: 64px;
    }
  }

  &__item {
    line-height: 11px;

    @include onDesktop {
      &_item {
        padding: 24px;
      }
    }
  }

  &__link {
    padding: 18px 0;
    position: relative;

    color: $secondary-color;
    @extend %upper-text; 

    transition: 0.3s;

    @include onDesktop {
      padding: 26px 0;
    }

    &:hover {
      color: $primary-color;
    }

    &_active {
      color: $primary-color;
      &::after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: $primary-color;
        bottom: 0;
        left: 0;
      }
    }
  }

  &__cart {
    line-height: 0;
    display: flex;
    box-shadow: 0px -1px 0px $elements-color;

    &_item {
      height: 64px;
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      box-shadow: -1px 0px 0px $elements-color;
    }

    @include onTablet {
      &_item {
        width: 48px;
        height: 100%;
      }
    }

    @include onDesktop {
      &_item {
        width: 64px;
        height: 100%;
      }
    }
  }

  &__menu {
    margin-left: auto;
    box-shadow: -1px 0px 0px $elements-color;
    padding: 16px;
    height: 100%;

    &_wrap {
      position: relative;
      width: 16px;
      height: 10px;

      &::before, &::after {
        content: "";
        display: inline-block;
        width: 100%;
        height: 2px;
        position: absolute;
        background-color: $primary-color;
        left: 0;
        border-radius: 2px;

        transition: transform 0.3s ease;
      }

      &::before {
        top: 0;
      }

      &:after {
        bottom: 0;
      }
    }

    &_item {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      display: inline-block;
      width: 100%;
      height: 2px;
      border-radius: 2px;
      background-color: $primary-color;

      transition: transform 0.3s ease;
    }

    &_active {
      .nav__menu_item {
        transform: scale(0);
      }

      .nav__menu_wrap::before {
        transform: rotate(45deg) translate(3px, 4px);
      }

      .nav__menu_wrap::after {
        transform: rotate(-45deg) translate(2px, -2px);
      }
    }

    @include onTablet {
      display: none;
    }
  }
}
